@font-face {
    font-family:"Futura Handwritten";
    src: url("FuturaHandwritten.ttf") /* TTF file for CSS3 browsers */
}

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


body {
    font-family:'FuturaHandwritten', 'Patrick Hand', cursive;        
}

button {
    font-size: 1.2;
    color: lightcoral;
    background-color: white;
    border: 5px lightcoral solid;
    border-radius: 50px;

}
