@font-face {
    font-family:"Futura Handwritten";
    src: url("FuturaHandwritten.ttf") /* TTF file for CSS3 browsers */
}

body {
    font-family:'FuturaHandwritten';        
}

button {
    font-size: 1.2;
    color: lightcoral;
    background-color: white;
    border: 5px lightcoral solid;
    border-radius: 50px;

}