*{
    box-sizing: border-box;
}

body{
    font-family: 'Crimson Text', serif;
    background-color: #222;
    position: relative;
    padding: 0%;
    border: 0%;
    margin: 0%;
}

.MathJax, .MathJax_Display  {
    font-size: 80%  !important;
}
/*Elementi del banner principale*/

#wrapper {
    width: 100%;
    height: 6em;
    background-color: #222;
    padding: 0px;
    margin: 0%;
}

#logo {
    height: auto;
    padding: 0em;
    margin-top: 0.5%;
    margin-left: 0.5%;
}

#logo:hover {
    cursor: pointer;
    stroke: url(#grad2);
}

#gradientLineWrapper {
    width: 100%;
    height: 15%;
    padding-bottom: 4px;
    border: 0%;
    margin: 0%;
    background-image: linear-gradient(to right, #ff8a00, #e52e71);
}


/*ELEMENTI DEL CORPO DELLA PAGINA*/

#wrapperBody {
    position: absolute;
    width: 100%;    
    padding: 0%;
    border: 0%;
    margin-left: 0 auto;
}

#activityTitle {
    width: 80%;
    margin-top: 0.5em;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0.5em 0em 0.5em 0em;
    background-image: linear-gradient(to right, #ff8a00, #e52e71);
    border: 0%;
    border-radius: 30px;
    text-align: center;
    color: white;
    font-size: 3em;
    letter-spacing: 0.1em;
    font-weight: 700;
}

#textWrapper {
    width: 60%;
    height: auto;
    padding: 1em 3.5em 1em auto;
    border: 0%;
    border-radius: 30px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    background-color: white;
    font-size: 1.5em;
    letter-spacing: 0.03em;
    text-align: left;
}

#sceenAndButtonWrapper {
    display: flex;
}

#buttonColumn {
    margin-top: auto;
    margin-left: 1em;
}

#ggb-element1 {
    margin-top: 2%;
}

#displayerRow {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: auto;
    
    display: flex;
    justify-content: center;

}

.button {
    width: 1.6em;
    height: 1.6em; 
    border-radius: 150px;
    margin: 0%;
    color: white;
    text-align: center;
    font-size: 1.8em;
    transform: scale(0.5);
}

#button1 {
    border: 3px #e52e71 solid;
    background-color: #eb9db9;
}

#button2 {
    border: 3px #ff8a00 solid;
    background-color: #ffba6b;
}

#button1:hover , #button2:hover {
    transform: scale(0.6);
}

#displayerRow {
    margin-top: 3%;
}

.input {
    width: 4em;
    border: 0px;
    border-radius: 30px;
    text-align: center;
    font-size: 1em;
}

#firstInput {
    background-color: #f1d1dd;
}

#secondInput {
    background-color: #ffe8cd;
}


#output {
    font-size: 1em;
}