* {
    box-sizing: border-box;
}

#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
}

#nav-bar ul {
    width: 100%;
    padding-left: auto;
}

#nav-bar li {
    list-style: none;
    margin-bottom: 1rem;
}

#nav-bar a {
    color:rgb(255, 36, 120);
    text-decoration: none;
}

#content-container {
    width: 80%;
    border-left: 0.1rem black solid;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 20%;
    margin-right: 10%;
    font-size: 24px;
    line-height: 1.5rem;
}

h1 {
    color: rgb(98, 126, 209);
    text-shadow: 0.1rem 0.1rem rgb(255, 36, 120);
    font-size: 2.2rem;
    margin-bottom: 3rem;
}

h2 {
    color: rgb(255, 36, 120);
}


.espressione-container {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    border: 0.1rem lightgray solid;
}

.numberInput {
    margin-right: 1rem;
}

.inputButton {
    width: 1.5rem;
    height: 1.5rem;

    background-color: white;
    box-shadow: 0.2rem 0.2rem 0.2rem lightgray;
    border-radius: 50%;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    
    font-size: 1rem;
    text-align: center;
}

.inputButton:hover {
    cursor: pointer;
}

#domanda {
    width: 90%;
    margin: auto;
}

.video-container {
    width: 100%;
}

.video {
    width: 100%;
}

/* @media (max-width: 600px) {
    body {
        width: 95%;
        margin: auto;
        font-size: 20px;
    }
} */

@media (max-width: 800px) {
    #nav-bar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgb(241, 241, 241);
        box-shadow: rgb(241, 241, 241) 0.2rem 0.2rem 0.5rem 0.5rem;
        z-index: 1;
    }

    #content-container {
        width: 100%;
        padding: 0.5rem;
        border: 0px;
        margin-top: 10rem;
        margin-left: auto;
        font-size: 18px;
        z-index: 0;
    }

    .espressione-container {
        font-size: 1rem;
    }



}
