* {
    box-sizing: border-box;
}


h1 {
    text-align: center;
    color: red;
    font-size: 3rem;
}


canvas {
    display: block;
    margin: auto;
}

#sketch {
    width: 100%;
    border: 0.01 solid black;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
  
.controlsLine {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.lineElement {
    font-size: 28px;
    margin-right: 2rem;
}

#bpm-buttonMin,
#bpm-buttonPlus {
    text-align: center;
    width: 2rem;
    
}

#bpm-slider {
    width: 80%;
}


#percentuals-container{
    width: 50%;
    height: 2.3rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    border: 0.2rem black solid;
}

.beatSubPercentual {
    width: auto;
    display: block;
    height: 2rem;
    padding: 0.3rem;
    border: 0.05rem gray solid;
    text-align: center;
}

#beatSubPercentual0 {
    width: 33.333%;
}

#beatSubPercentual1 {
    width: 33.333%;
}

#beatSubPercentual2 {
    width: 33.333%;
}



#changePercentual {
    width: 20%;
    
 
}
