body {
    width: 80%;
    margin: auto;
    font-size: 24px;
}

h1 {
    font-size: 1.7rem;
}

h2 {
    font-size: 1.4rem;
}

.formula {
    vertical-align: middle;
}

td {
    border: 1px black solid;
    padding: 1rem;
    margin: 0;
}

input {    
    min-width: 30px;
    height: 1.5rem;
}

        
@media print {
    .pagebreak {
        clear: both;
        page-break-after: always;
    }
}