body{
    font-family: 'Crimson Text', serif;
    background-color: #222;
    position: relative;
    padding: 0%;
    border: 0%;
    margin: 0%;
}

.MathJax, .MathJax_Display  {
    font-size: 80%  !important;
}

* {
    box-sizing: border-box;
  }

/*Elementi del banner principale*/

#wrapper {
    width: 100%;
    background-color: #222;
    padding: 0px;
    margin: 0%;
}

#logo {
    height: auto;
    transform: scale(0.8);
    margin: auto;
}

#logo:hover {
    cursor: pointer;
    stroke: url(#grad2);
}

#gradientLineWrapper {
    width: 100%;
    height: 15%;
    padding-bottom: 4px;
    border: 0%;
    margin: 0%;
    background-image: linear-gradient(to right, #ff8a00, #e52e71);
}


/*ELEMENTI DEL CORPO DELLA PAGINA*/

#wrapperBody {
    position: absolute;
    width: 100%;    
    padding: 0%;
    border: 0%;
    margin-left: 0 auto;
}

#activityTitle  {
    width: 80%;
    margin-top: 2vh;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0.5em 0em 0.5em 0em;
    border: 0%;
    border-radius: 30px;
    text-align: center;
    color: #1affa3  ;
    font-size: 10vh;
    letter-spacing: 0.1em;
    font-weight: 700;
}

#textWrapper {
    width: 80%;
    padding: 3vh 4vw 3vh 4vw;
    border: 0%;
    border-radius: 30px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-size: 5vh;
    letter-spacing: 0.03em;
    text-align: left;
}

.argomentoWrapper {
    width: 20%;
    height: 60%;
    padding: 2vh;
    background-image: linear-gradient(to right, #ff8a00, #e52e71);
    border: 0%;
    border-radius: 100px;
    margin-left: 40%;      
}

.argomentoWrapper:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.argomento {
    background-color: #222;
    padding: 8%;
    border: 1px;
    border-radius: 100px;
    margin: auto 0%;
    color: white;
    font-size: 2vw;
    font-family: 'Crimson Text', serif;
    text-align: center;
}

.paragraph {
    float: left;
    width: 25%;
    padding-left: 2.5%;
    margin-top: 5vh;
    color: #ff8a00;
    font-size: 5vh;
    display: none;
    text-align: center;
}

.paragraph:hover {
    color: #f14f8b;
    cursor: pointer;
}