body{
    font-family: 'Crimson Text', serif;
    background-color: #222;
    position: relative;
    padding: 0%;
    border: 0%;
    margin: 0%;
}

.MathJax, .MathJax_Display  {
    font-size: 80%  !important;
}

* {
    box-sizing: border-box;
  }

/*Elementi del banner principale*/

#wrapper {
    width: 100%;
    background-color: #222;
    padding: 0px;
    margin: 0%;
}

#logo {
    height: auto;
    transform: scale(0.8);
    margin: auto;
}

#logo:hover {
    cursor: pointer;
    stroke: url(#grad2);
}

#gradientLineWrapper {
    width: 100%;
    height: 15%;
    padding-bottom: 4px;
    border: 0%;
    margin: 0%;
    background-image: linear-gradient(to right, #ff8a00, #e52e71);
}

/*ELEMENTI DEL CORPO DELLA PAGINA*/

#wrapperBody {
    position: absolute;
    width: 100%;    
    padding: 0%;
    border: 0%;
    margin-left: 0 auto;
}

#activityTitle {
    width: 80%;
    margin-top: 0.5em;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0.5em 0em 0.5em 0em;
    background-image: linear-gradient(to right, #ff8a00, #e52e71);
    border: 0%;
    border-radius: 30px;
    text-align: center;
    color: white;
    font-size: 3em;
    letter-spacing: 0.1em;
    font-weight: 700;
}

#textWrapper {
    width: 80%;
    height: 120vh;
    padding: 1em 3.5em 1em 3.5em;
    border: 0%;
    border-radius: 30px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-size: 1.5em;
    letter-spacing: 0.03em;
    text-align: left;
}

#tableWrapper {
    width: 40%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 1px solid black;
    border-radius: 30px;
    margin-left: 30%; 
    margin-bottom: 5%;
    text-align: center;
}

#targetNumber {
    color: #e52e71;
}

.column {
    width: 25%;
    text-align: left;
    float: left;
}

.columnElement {
    padding-top: 2.5%;
    padding-bottom: 22.5%;
    padding-left: 2.5%;
    border: 1px black solid;
    border-radius: 15px;
    margin-left: 10%;
    margin-bottom: 10%;
    box-shadow: 4px 4px 4px gray;
}

.columnElement:hover {
    transform: scale(1.1);  
}

#row1column1, #row2column1, #row3column1 {
    background-color: rgb(255, 120, 71);
    opacity: 0.5;
}

#row1column2, #row2column2, #row3column2 {
    background-color: cornflowerblue;
    opacity: 0.5;
}

#row1column3, #row2column3, #row3column3 {
    background-color: rgb(255, 80, 80);
    opacity: 0.5;
}

#row1column4, #row2column4, #row3column4 {
    background-color: rgb(109, 175, 109);
    opacity: 0.5;
}

.cifra {
    float: left;
    width: 25%;
    text-align: center;
}