* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 90%;
    margin: auto;
    font-size: 17px;
    line-height: 1.5rem;
}

h1 {
    text-align: center;
    color: #DB4437;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.media-container {
    width: 98%;
}

video, img {
    display: block;
    width: 100%;
}

h2 {
    font-size: 1.3rem;
    color: #4285F4;
    margin-bottom: 1rem;
}

table, td, th {
    border: 0.01rem solid black; 
}

td, th {
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

table {
    border-collapse: collapse;
}

h3 {
    color: #F4B400;
    font-size: 1.1rem;
}

.grayBackground {
    background-color: rgb(240, 240, 240);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.geogebra-container {
    background-color: rgb(240, 240, 240);
}

.ggbTransform {
    width: 100% !important;
}

.generaEsempio {
    display: block;
    width: auto;
    margin: auto;
    margin-top: 1rem;
    
}

.concavita {
    display: inline;
    width: 1rem;
    
}

.gray {
    color: gray;
}
