* {
    box-sizing: border-box;
}

body {
    font-size: 1.2em;
}

article {
    width: 50%;
    padding-bottom: 10vh;
    margin: auto;
}

h1 {
    font-size: 3em;
    margin-bottom: 1.5em;
}

#firstLine {
    margin-top: 15%;
}

.line {
    padding-bottom: 2em;
    border-bottom: 1px black solid;
    margin-bottom: 2em;
}

.clear {
    clear: both;
}

.centrato {
    text-align: center;
}

.title {
    display: inline-block;
}

.formula {
    transform: scale(0.7);
    margin-top: 0;
    margin-bottom: 0;
    color: gray;
}

.title:hover{
    cursor: pointer;
}

#sommaPerDifferenzaNextButton {
    display: inline-block;
    margin-left: 1em;
}

.button {
    display: inline-block;
    margin-left: 1em;
}

.commento {
    color: gray;
    width: 70%;
    margin: auto;
    text-align: center;
}

